<ngx-datatable
        class="material"
        [rows]="rows"
        [columns]="cols"
        [columnMode]="ColumnMode.force"
        [loadingIndicator]="pagesLoading > 0 || !this.currentJob"
        [scrollbarV]="true"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [externalPaging]="true"
        [externalSorting]="true"
        [count]="totalRowCount"
        [offset]="pageInfo?.offset || 0"
        [reorderable]="false"
        (page)="setPage($event)"
></ngx-datatable>
